---
import HeroSection from '../components/HeroSection.astro';
import ProgramsSection from '../components/ProgramsSection.astro';
import Container from '../components/Container.astro';
import Navbar from '../layout/Navbar.astro';
let title = 'Housecats Volleyball Club';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
	</style>
</head>
<body>
	<Navbar />
	<main>
		<HeroSection />
		<Container paddingSize="x-large">
			<ProgramsSection />
		</Container>
	</main>
</body>
</html>
